[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
textual = {ref = "main", git = "https://github.com/Textualize/textual.git"}
numpy = "*"
pyfiglet = "*"

[dev-packages]
ipython = "*"
black = "*"

[requires]
python_version = "3.10"
